
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo {
    margin-left: 20px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    #logo {
        max-width: 150px; 
    }
}

@media (max-width: 768px) {
    #logo {
        max-width: 100px; 
    }
}

@media (max-width: 480px) {
    #logo {
        max-width: 80px; 
    }
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
}

.producto {
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    box-sizing: border-box; 
    position: relative;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto p {
    margin: 10px 0;
}

@media (max-width: 1200px) {
    .producto {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .producto {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

.social-icon {
    display: inline-block; 
    margin: 0 10px; 
    font-size: 24px; 
}

